.cart-div {
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    background-color: var(--Grey);
}

.cart-header {
    text-align: center;
    font-family: Merisca, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: var(--priColor);
    text-shadow: 2px 2px 10px var(--priColor);
}

.cart-table {
    border: 1px solid var(--priColor);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: var(--secColor);
    border-collapse: collapse;
}

.cart-product tr, td {
    border: 1px solid var(--priColor);
    padding: 5px;
}

.cart-button {
    background-color: var(--priColor);
    color: var(--secColor);
    margin-right: 10px;
}

.cart-button:hover {   
    background-color: var(--secColor);
    color: var(--priColor);
    outline: 1px solid var(--priColor);
}



.cart-change {
    display: flex;
    justify-content: center;
    
}