.checkout {
    flex-direction: column;
}

.checkout-section {
    padding-bottom: 20px;
    margin-left: 60px;
}

.checkout-header {
    font-family: Merisca, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: var(--priColor);
    text-shadow: 2px 2px 10px var(--priColor);
}

.checkout-input {
    border: 1px solid var(--priColor);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: var(--secColor);
}

.checkout-input:focus {
    border: 1px solid var(--Grey);
    outline: 2px solid var(--Grey);
}

.checkout-button {
    margin-right: 10px;
}