.nav {
    background: radial-gradient(ellipse at center, var(--priColor) 1%, var(--secColor) 15%); 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.9375rem 0.3125rem;
}

.nav-containers {
    display: flex;
    align-items: baseline;
}

.nav-home {
    margin-right: 0.3125rem;
    font-weight: bold;
    font-size: 1rem;
}

.nav-splitter {
    border-right: 0.0625rem solid var(--priColor);
    padding-right: 0.3125rem;
}

.nav-color {
    background-image: linear-gradient(90deg, var(--Purple), var(--Brown), var(--Green), var(--Pink), #111);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

.nav-select {
    background-color: var(--priColor);
    color: var(--secColor);
    outline: 0.06rem solid var(--secColor);
    border-radius: 0.4375rem;
    padding: 0.125rem 0.3125rem;
    font-size: 0.9rem;
}

.nav-button {
    margin-left: 0.3125rem;
    border: 0.13rem solid var(--priColor);
    padding: 0.0625rem 0.8125rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.nav-button:hover {
    background-color: var(--priColor);
    color: var(--secColor);
}

.nav-link {
    text-decoration: none;
}

.nav-cart {
    padding-top: 0.5rem;
    border: 0.13rem solid var(--secColor);
    font-size: 1rem;
}

.nav-cart:hover {
    border: 0.13rem solid var(--priColor);
}

.nav-svg {
    fill: var(--priColor);
}

.nav-logo-mini {
    position: relative;
    left: -0.615rem;
    top: -0.42rem;
    width: 1.2rem;
    height: 1.2rem;
    stroke-width: 1.5625rem;
}

.nav-svg-text {
    fill: var(--secColor);
}