svg.logo-mini {
    position:absolute;
    left: 12px;
    top: -4px;
    width: 20px;
    height: 20px;
    fill: var(#770);
    stroke: var(--cWhite);
    stroke-width: 1px;
}

text.logo-text {
    stroke-width: 0.25;
    stroke: var(--cWhite);
    font-size: 5px;
}


svg.svg-cart {
    fill: #666;
}


nav.top-nav {
    background-color: var(--cBlack);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border-radius: 5px;;
}


a.top-link {
    margin-left: 5px;
    border: 2px solid black;
    padding: 1px 13px;
    border-radius: 15px;
}

nav.top-nav div:first-child {
    margin-right: auto;
}

a.checkout {
    text-decoration: none;
    color: var(--cWhite);
}


span.cart {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 3px;
}


nav a.link {               
    display: block;
    text-decoration: none;
    background-color: var(--cBlue);
    color: var(--cWhite);
}

nav a.link:hover {
    background-color: var(--cRed);
}