svg.logo-mini {
    position:absolute;
    left: 12px;
    top: -4px;
    width: 20px;
    height: 20px;
    stroke-width: 1px;
}


svg.svg-cart {
    fill: #666;
}


nav.top-nav {
    background: linear-gradient(135deg, #fff 0%, #111 25%, #eee 50%, #111 75%, #fff 100%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border-radius: 5px;;
}


div.top-link {
    margin-left: 5px;
    border: 2px solid black;
    padding: 1px 13px;
    border-radius: 15px;
}

.link {
    text-decoration: none;
}


span.cart {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 3px;
}