.grid-products {
    width: 100%;
}

.grid-image {
    width: 80%;
    height: auto;
}

.grid-item {
    border: 0.065rem solid var(--priColor);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #ddd;
}

.grid-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #bbb;
    outline: 0.13rem solid var(--priColor);
}

.grid-view {
    visibility: hidden;
}

.grid-item:hover span {
    visibility: visible;
}

.grid-link {
    text-decoration: none;
    color: var(--priColor);
    text-align: center;
}

.grid-title {
    font-family: Merisca, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

.grid-price {
    color: var(--priColor);
}
