div.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.product-site {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-item {
    text-decoration: none;
    color: black;
    text-align: center;
}